<ul class="form-icon-list clearfix">
    <li class="icon-item"><img src="" /></li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>
    <li class="icon-item">
        <img src="" />
    </li>

</ul>