<div class="approval-import-detail-wrapper">

    <div class="ui-form-field">
        <label class="ui-form-field-label">1. 下载模板:</label>
        <div class="ui-form-field-content">
            <a href="#" target="_blank" id="link-imptpl" class="link-blue">点击下载模板</a>
        </div>
    </div>

    <div class="ui-form-field">
        <label class="ui-form-field-label">2. 上传文件:</label>
        <div class="ui-form-field-content">
            <div class="approval-import-detail-file"></div>
        </div>
    </div>

    <div class="g-row m-b-md m-t-md">
        <div class="g-col-12 ui-font-weight">操作步骤：</div>
    </div>


    <ol class="typography-list">
        <li>请先下载 <a href="#" class="link-blue" target="_blank" id="link-imptpl-v">点击下载模板</a> 进行填写导入明细内容，第一行为表单明细字段的名称。
        </li>
        <li>请在第二步中选择填写好的Excel文件，并点击 右下角的"导入"按钮。</li>
    </ol>


    <div class="g-row m-b-md m-t-md">
        <div class="g-col-12 ui-font-weight">使用注意事项：</div>
    </div>

    <ul class="typography-list">
        <li>导入明细数据时会将原有明细内容删除，导入新的Excel中的内容。</li>
        <li>只有可编辑的字段才能进行导入，如果查看的字段有默认值的会自动加上默认值。</li>
        <li>模板中第一行为表单明细字段的名称，从第二行开始导入明细数据。</li>
        <li>明细数据之间不能有空行。</li>
        <li>如果有多个明细时模板中会有多个Sheet，一个明细一个Sheet。</li>
        <li>数字、金额字段不要有特殊格式，例如：科学计数法、千分位、货币符号等。</li>
        <li>日期字段请输入yyyy-MM-dd 或者 yyyy/mm/dd格式，例如 2017-09-01。</li>
        <li>弹出选择字段直接输入名称，例如：客户选择直接输入客户名称。</li>
        <li>下拉、单选、多选等选择字段，直接输入选择的显示名称，例如：性别字段为下拉选择，选择项有男/女，请直接输入 男或者女。</li>
        <li>不支持字段联动，不支持工时计算，不支持属性联动。</li>
    </ul>


</div>