<div class="content-full p-xs">
    <div class="ui-panel ui-panel-bordered" style="height: 100%;">
        <div class="ui-panel-body ui-hierarchy-vertical">
            <div class="ui-hierarchy-item" style="height: 40px;">
                <div class="p-xxs component-el" id="tree_panel_header"
                     style="border-bottom: 1px solid #e8e8e8;"></div>
            </div>
            <div class="ui-hierarchy-item">
                <div style="overflow-y:scroll;;width: 100%; height: 380px;">
                    <ul id="orgTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
