<div class="ui-form-inline">
    <div class="ui-form-field">
        <div id="reimbursing-import-month"></div>
    </div>
    <div class="ui-form-field">
        <div id="reimbursing-import-type"></div>
    </div>
    <div class="ui-form-field">
        <div id="reimbursing-import-value"></div>
    </div>
</div>


<div class="g-row m-b-md m-t-md">
    <div class="g-col-12 ui-font-weight">操作步骤：</div>
</div>


<ol class="typography-list">
<li>请选择月份选择框，选择记账的月份。</li>
<li>请选择类型下拉框，选择费用类型。</li>
<li>当费用类型选择为“售前”时， 可以选择对应的客户信息。</li>
<li>点击右下角"确定"按钮。</li>
<li>如果页面弹出"记账导入成功"提示,导入记账数据完成。</li>
</ol>


<div class="g-row m-b-md m-t-md">
    <div class="g-col-12 ui-font-weight">使用注意事项：</div>
</div>

<ul class="typography-list">
    <li>请先在星云手机端 通过 审批->记账功能来填写对应客户或者项目的费用记账；只有在手机端填写了对应费用的记账才可以在记账导入中导入</li>
    <li>导入记账数据时会将原有明细内容覆盖。</li>
    <li>记账选择的客户和项目必须通过后台审核才会显示在选择项。</li>
</ul>