<div class="section-divider mv15">
    <span>SQL脚本数据源</span>
</div>

<div class="section ml10 mr10  mb5 mauto">
    <label for="txt-sqlscript" class="field-label">SQL语句</label>
    <label class="field prepend-icon">
            <textarea class="gui-textarea h-120" id="txt-sqlscript" name="sqlScript"
                      placeholder="请输入SQL语句"></textarea>
        <a href="javascript:void(0);" id="btn-execute" class="btn btn-sm btn-system pull-right">执行sql</a>
        <label for="comment" class="field-icon">
            <i class="octicon octicon-code"></i>
        </label>
    </label>
</div>
<div class="section row mb5 mauto">
    <div class="col-md-12 pl10 pr10">
        <table class="table table-bordered table-hover" id="das_fileld"
               style="max-height:400px;">
            <thead>
            <tr>
                <th class="text-center w50">使用</th>
                <th class="w50">序号</th>
                <th class="w150">字段</th>
                <th>显示名称</th>
                <th class="w100">排序</th>
                <th class="w150">字段类型</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
