<div class="section-divider mv15 pl10 pr10">
    <span>平台数据源</span>
</div>
<div class="section row mb5 mauto">
    <div class="col-md-12 pl10 pr10">
        <div class="smart-widget sm-left sml-100">
            <label for="select-tablename" class="button text-left">数据表名称</label>
            <label class="option-group field">
                <select class="select2-single gui-input tablename"
                        id="select-tablename" name="tableName" data-placeholder="请选择数据表名称">
                    <option value=""></option>
                </select>
            </label>
        </div>
    </div>
</div>
<div class="section row mb5 mauto">
    <div class="col-md-12 pl10 pr10">
        <table class="table table-bordered table-hover" id="das_fileld"
               style="max-height:400px;">
            <thead>
            <tr>
                <th class="text-center w50">使用</th>
                <th class="w50">序号</th>
                <th class="w150">字段</th>
                <th>显示名称</th>
                <th class="w100">排序</th>
                <th class="w100">字段类型</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>