.form-flow-title {
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px #e0e0e0
}

.form-flow-title > .flow-version {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 190px 0 20px
}

.form-flow-title > .flow-version .version-name {
    position: relative;
    float: left;
    left: 0;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.form-flow-title > .flow-version .version-num {
    padding-left: 10px;
    color: #f0ad4e
}

.form-flow-title > .flow-version .version-type {
    margin: 0 12px;
    padding: 5px 12px;
    font-size: 12px;
    text-align: center;
    border: solid 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.form-flow-title > .flow-version .version-current {
    color: #0DB3A6;
    border-color: #0DB3A6;
    background: rgba(13, 179, 166, .1)
}

.form-flow-title > .flow-version .version-history {
    color: #989898;
    border-color: #989898;
    background: rgba(152, 152, 152, .1)
}

.form-flow-title > .flow-version .version-design {
    color: #f0ad4e;
    border-color: #f0ad4e;
    background: rgba(240, 173, 78, .1)
}

.form-flow-title > .flow-version > .version-tip {
    font-size: 12px;
    color: #989898
}

.form-flow-title > .btn-pane {
    position: absolute;
    top: 10px;
    right: 2px
}

.form-flow-title > .btn-pane .flow-btn,
.form-flow-title > .btn-pane .release-btn {
    margin-right: 7px;
    font-size: 14px;
    position: relative;
    /*float: right;*/
    /*right: 0*/
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.form-flow-pane {
    position: absolute;
    top: 50px;
    left: 0;
    right: 300px;
    bottom: 0
}

.form-flow-config {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    bottom: 0;
    border-left: solid 1px #e0e0e0;
    background: #fafafa;
}

.form-flow-config .config-tab {
    border-bottom: solid 1px #e0e0e0;
    height: 40px
}

.form-flow-config .config-tab .tab-item {
    display: inline-block;
    width: 147px;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 4px transparent;
    text-align: center;
    cursor: pointer
}

.form-flow-config .tab-item.tab-item-actived {
    border-bottom-color: #0DB3A6
}

.form-flow-config .config-content {
    /*padding: 10px 0;*/
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto
}

.form-flow-config .config-content.empty:after {
    content: '请选择流程节点';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding-top: 100px;
    font-size: 24px;
    color: #989898;
    text-align: center
}


.x-entry-flow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.form-flow-empty {
    text-align: center;
    width: 260px;
    margin: 40px auto
}

.form-flow-empty .empty-btn {
    margin: 0 auto
}

.form-flow-empty .empty-info {
    padding: 20px 0 15px 0;
    color: #989898
}

.form-flow-empty .empty-info.sub-info {
    padding: 0;
    font-size: 12px
}

.flow-menu-pane .menu-item {
    text-align: center;
    cursor: pointer;
    line-height: 30px
}

.flow-menu-pane .menu-item.remove {
    color: #d84636
}

.flow-menu-pane .menu-item:hover {
    background-color: rgba(13, 179, 166, .1)
}

.fx_flow_node {
    position: absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: .8;
    border: 1px solid #E1E3E5;
    cursor: move;
    background: #F7F9FE;
    line-height: 30px;
    z-index: 20
}

.fx_flow_node.invalid {
    border: 1px solid #d9534f
}

.fx_flow_node.select,
.fx_flow_node:hover {
    background: #E3F6FF;
    border: 1px solid #76BBEB
}

.fx_flow_node.select > .node-menu,
.fx_flow_node:hover > .node-menu {
    display: block
}

.fx_flow_node:hover > .node-anchor {
    display: block
}

.fx_flow_node > .node-name {
    padding: 0 5px 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fx_flow_node.menu > .node-name {
    padding-right: 30px
}

.fx_flow_node > .node-icon {
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 28px;
    font-size: 18px
}

.fx_flow_node > .node-icon.green {
    color: #0DB3A6
}

.fx_flow_node > .node-icon.blue {
    color: #178cdf
}

.fx_flow_node > .node-icon.red {
    color: #d9534f
}

.fx_flow_node > .node-menu {
    display: none;
    width: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 28px;
    font-size: 18px;
    cursor: pointer
}

.fx_flow_node > .node-anchor {
    width: 16px;
    height: 16px;
    margin: -9px 0 0 -9px;
    display: none;
    position: absolute;
    cursor: crosshair
}

.fx_flow_node > .node-anchor:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #2991FF;
    border-radius: 50%
}

.fx_flow_chart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    cursor: default
}

.fx_flow_chart .chart-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto
}

.fx_flow_chart .chart-content {
    position: relative;
    min-width: 99%;
    min-height: 99%;
    height: 100%;
}

.fx_flow_chart .chart-content > svg {
    width: 100%;
    height: 100%
}

.fx_flow_chart .chart-content .chart-path-circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #FF5B37;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    cursor: pointer
}

.fx_flow_chart .chart-content > .alignment-line {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px dashed #FF5B37;
    border-left: 1px dashed #FF5B37
}

.fx_flow_menu {
    position: absolute;
    top: 5px;
    left: 20px;
    right: 20px;
    padding: 5px;
    background: #F4F6FC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.fx_flow_menu:after,
.fx_flow_menu:before {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.fx_flow_menu .menu-item {
    position: relative;
    float: left;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 0 10px;
    -webkit-transition: all 218ms;
    -moz-transition: all 218ms;
    -o-transition: all 218ms;
    transition: all 218ms;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer
}

.fx_flow_menu .menu-item > i {
    color: #3F80AE;
    font-size: 16px;
    vertical-align: middle
}

.fx_flow_menu .menu-item > span {
    margin-left: 10px;
    vertical-align: middle
}

.fx_flow_menu .menu-item.active,
.fx_flow_menu .menu-item:hover {
    color: #3F80AE;
    background: #DEE8F7
}

.fx_flow_menu .menu-item.style-dark > i {
    color: #000
}

.fx_flow_menu .menu-item.style-dark:hover {
    background: 0 0
}

.fx_flow_menu .menu-item.disable.style-dark {
    cursor: not-allowed
}

.fx_flow_menu .menu-item.disable.style-dark > i {
    color: #737373
}

.fx_flow_menu .menu-item.menu-move {
    cursor: move
}

.fx_flow_menu .menu-line {
    position: relative;
    float: left;
    left: 0;
    width: 1px;
    height: 30px;
    margin: 0 10px
}

.fx_flow_menu .menu-line:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 5px;
    background: #A0A0A0
}

.fx_flow_menu .menu-btn-wrapper {
    position: relative;
    float: right;
    right: 20px;
    overflow: hidden
}

.fx_flow_menu .menu-btn-wrapper .menu-btn {
    position: relative;
    float: left;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    background: #fff;
    cursor: pointer
}

.fx_flow_menu .menu-btn-wrapper .menu-btn.disable {
    cursor: not-allowed
}

.fx_flow_menu .menu-btn-wrapper .menu-btn > i {
    font-size: 16px;
    color: #3F80AE
}

.fx_flow_menu .menu-btn-wrapper .menu-text {
    position: relative;
    float: left;
    left: 0;
    line-height: 30px;
    font-size: 12px;
    width: 50px;
    text-align: center
}

.fx_flow_group {
    position: absolute;
    background: rgba(215, 215, 215, .2);
    border: 1px solid #E1E3E5
}

/****************************************************/

.fx_flow_operation {
    border: solid 1px #e0e0e0;
    font-size: 13px
}

.fx_flow_operation.auth {
    overflow: auto
}

.fx_flow_operation.auth span {
    margin: 0
}

.fx_flow_operation.auth .head {
    padding-left: 5px;
    height: 24px;
    line-height: 24px
}

.fx_flow_operation.auth i.icon-help {
    color: #0DB3A6;
    margin-left: 4px;
    cursor: pointer
}

.fx_flow_operation.auth .view {
    width: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 30px
}

.fx_flow_operation.auth .edit {
    width: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 150px
}

.fx_flow_operation.auth li {
    padding: 0 200px 0 5px
}

.fx_flow_operation.flow .head {
    border-bottom: solid 1px #e0e0e0;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    background: #fff
}

.fx_flow_operation.flow .head .opt {
    position: relative;
    float: right;
    right: 0;
    margin-left: 10px
}

.fx_flow_operation.flow .head .icon-help {
    cursor: pointer;
    line-height: 30px;
    position: relative;
    float: right;
    right: 0;
    color: #0DB3A6
}

.fx_flow_operation ul {
    background: white;
    padding: 5px 0;
}

.fx_flow_operation ul > li {
    position: relative;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 145px 0 5px
}

.fx_flow_operation ul > li.subform-item {
    padding-left: 20px
}

.fx_flow_operation ul > li a {
    width: 14px;
    font-size: 14px;
    cursor: pointer;
    display: block
}

.fx_flow_operation ul > li.select-all {
    border-bottom: 1px solid #fafafa;
}

.fx_flow_operation ul > li a.view {
    position: absolute;
    top: 0;
    right: 10px
}

.fx_flow_operation ul > li a.edit {
    position: absolute;
    top: 0;
    right: 45px
}

.fx_flow_operation ul > li a.brief {
    position: absolute;
    top: 0;
    right: 40px
}

/************************* fx_assign_user_choose ***********************************/

.fx_assign_user_choose {
    padding: 15px;
}

.fx_assign_user_choose .select-list {
    height: 80px;
    border: solid 1px #e0e0e0;
    margin-bottom: 10px;
    overflow: auto;
    position: relative;
}

.fx_assign_user_choose .select-list.empty:after {
    content: '请选择人员';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 80px;
    color: #989898;
    background: #fafafa;
    font-size: 13px;
}

.fx_assign_user_choose .select-list .select-item {
    display: inline-block;
    line-height: 30px;
    margin: 5px 0 0 5px;
    padding: 0 10px;
    border-radius: 1px;
    background: #eee;
}

.fx_assign_user_choose .select-list .select-item .remove-btn {
    cursor: pointer;
    margin-left: 10px;
    padding: 3px;
    color: #999;
}

.fx_assign_user_choose .select-list .select-item .remove-btn:hover {
    background: #fff;
    color: #d84636;
}

.fx_assign_user_choose .select-list .select-item .select-icon {
    font-size: 16px;
    padding-right: 5px;
    color: #0DB3A6;
}

.fx_assign_user_choose .tab-list {
    position: relative;
    height: 40px;
    padding: 0 10px;
    border: solid 1px #e0e0e0;
}

.fx_assign_user_choose .tab-list .tab-item {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    line-height: 38px;
    width: 100px;
    height: 38px;
}

.fx_assign_user_choose .tab-list .tab-item.selected {
    color: #0DB3A6;
    border-bottom: solid 4px #0DB3A6;
}

.fx_assign_user_choose .select-panel {
    border: solid 1px #e0e0e0;
    border-top: none;
    height: 300px;
    position: relative;
}

.fx_assign_user_choose .select-panel .user-list {
    border-left: solid 1px #e0e0e0;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 60%;
    padding: 5px 0;
}

.fx_assign_user_choose .select-panel .user-list.empty:after {
    content: "请选择左侧数节点";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 150px;
    color: #989898;
    background: #fafafa;
    font-size: 13px;
}

.fx_assign_user_choose .select-panel .user-list li {
    cursor: pointer;
    padding: 0 30px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    line-height: 30px;
}

.fx_assign_user_choose .select-panel .user-list li:hover {
    background: #eeeeee;
}

.fx_assign_user_choose .select-panel .user-list li .select-check {
    position: absolute;
    top: 0;
    right: 5px;
}

.fx_assign_user_choose .select-panel .tree-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 40%;
}

.fx_assign_user_choose .select-panel .tree-panel .select-tree-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
}

.fx_assign_user_choose .fui_tree ul > li > a.curSelectedNode,
.fx_assign_user_choose .fui_tree ul > li > a:hover {
    color: #333;
    background-color: #eee;
}

.fx_assign_user_box {
    position: relative;
    margin-bottom: 10px;
    background: #ffffff;
}

.fx_assign_user_box .user-list {
    height: 80px;
    border: solid 1px #e0e0e0;
    margin-bottom: 10px;
    overflow: auto;
    cursor: pointer;
}

.fx_assign_user_box .user-list .empty {
    cursor: pointer;
    line-height: 78px;
    text-align: center;
    color: #989898;
}

.fx_assign_user_box .user-list .empty span:before {
    font-family: finex;
    content: '\e61d';
    margin-right: 10px;
    color: #0DB3A6;
}

.fx_assign_user_box .user-list .item {
    display: inline-block;
    line-height: 30px;
    margin: 5px 0 0 5px;
    padding: 0 10px;
    border-radius: 1px;
    background: #eee;
}

.fx_assign_user_box .user-list .item i {
    color: #0DB3A6;
}

.fx_flow_conditions_filter {
    height: 460px;
    position: relative;
}

.fx_flow_conditions_filter .conditions-box {
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 510px;
    border: 1px solid #e0e0e0;
}

.fx_flow_conditions_filter .conditions-box .header {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.fx_flow_conditions_filter .conditions-box .header .label {
    padding-left: 10px;
    font-size: 12px;
    color: #989898;
}

.fx_flow_conditions_filter .conditions-box .header .add-btn {
    position: absolute;
    top: 0;
    right: 10px;
    color: #178cdf;
    cursor: pointer;
}

.fx_flow_conditions_filter .conditions-box .conditions-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    bottom: 0;
    overflow: auto;
}

.fx_flow_conditions_filter .conditions-box .conditions-list > li {
    margin: 5px 0;
    line-height: 30px;
    height: 30px;
    padding: 0 7px;
}

.fx_flow_conditions_filter .conditions-box .conditions-list > li:hover,
.fx_flow_conditions_filter .conditions-box .conditions-list > li.selected {
    /*background: #eeeeee;*/
}

.fx_flow_conditions_filter .conditions-box .conditions-list > li .remove-btn {
    font-size: 16px;
    cursor: pointer;
    color: #f96d64;
    vertical-align: middle;
}

.fx_flow_conditions_filter .conditions-box .conditions-list > li .filter-item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.fx_flow_conditions_filter .conditions-box .conditions-list > li .filter-item.x-btn {
    overflow: inherit;
}

.fx_flow_conditions_filter .conditions-box .conditions-list > li .filter-item.x-btn.selected {
    background: #ebebeb;
}

.fx_flow_conditions_filter .user-choose-box {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    width: 480px;
}

.fx_flow_conditions_filter .user-choose-box.empty:after {
    display: block;
    content: '请点击左侧条件设置审批人按钮';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding-top: 200px;
    color: #989898;
    font-size: 13px;
}

.fx_flow_conditions_filter .user-choose-box.empty .fx_assign_user_choose {
    display: none;
}

.fx_flow_conditions_filter .user-choose-box .fx_assign_user_choose {
    padding: 0 !important;
}



/************************************ Bpmn 样式 ****************************************/


.djs-element.djs-shape.actived .djs-visual>* {
    stroke: #0DB3A6 !important;
}

.djs-element.djs-shape.actived .djs-visual > path {
    fill: #0DB3A6 !important;
}

.djs-element.djs-shape.actived .djs-visual > text {
    fill: #0DB3A6 !important;
    stroke: transparent !important;
}

.djs-element.djs-connection.actived .djs-visual path {
    stroke: #0DB3A6 !important;
    marker-end: url(#sequenceflow-end-red) !important;
}

.djs-element.djs-shape.hover .djs-outline,
.djs-element.djs-connection.hover .djs-outline,
.djs-element.djs-shape.actived .djs-outline,
.djs-element.djs-connection.actived .djs-outline {
    stroke: #0DB3A6 !important;
}

.djs-context-pad.open {
    background-color: #fff !important;
}