<div class="fx_assign_user_choose">
    <ul class="select-list empty"></ul>

    <div class="tab-list">
        <div class="tab-item" data-type="department">按部门</div>
        <div class="tab-item" data-type="position">按职位</div>
    </div>

    <div class="select-panel">
        <div class="tree-panel">
            <div class="select-tree-body" id="select-tree-body-department"></div>
            <div class="select-tree-body" id="select-tree-body-position"></div>
        </div>
        <ul class="user-list empty">

        </ul>
    </div>
</div>