<div class="form-flow-empty">
    <div class="x-btn empty-btn style-blue" style="width: 120px;"><span>使用表单流程</span></div>
    <div class="empty-info">开启表单流程，设置流转条件搭建工作流</div>
    <div class="empty-info sub-info"><span>如有问题，请联系我们</span></div>
</div>