<div class="fx_flow_conditions_filter">
    <div class="conditions-box">
        <div class="header">
            <span class="label">设置多个表单节点审批人判断规则</span>
            <span class="add-btn"><i class="icon-add"></i><span> 添加条件设置</span></span>
        </div>
        <ul class="conditions-list">

        </ul>
    </div>
    <div class="user-choose-box empty">

    </div>
</div>