<div class="form-flow-warp">
    <div class="form-flow-title">
        <div class="flow-version">
            <span class="version-name" style="color: #888;font-size: 13px;">您可以通过拖拽方式完成流程图配置,可通过右侧设置面板配置流程节点的设置</span>
        </div>
        <div class="btn-pane">
            <div id="flow-close-btn" class="flow-btn x-btn style-white">
                <i class="icon-close"></i><span>关闭窗口</span>
            </div>
            <div id="flow-save-btn" class="flow-btn x-btn style-green">
                <i class="icon-save"></i><span>保存</span>
            </div>
        </div>
    </div>
    <div class="form-flow-pane">
        <div class="x-entry-flow">
            <div class="fx_flow_chart">
                <div id="chart-content" class="chart-content"></div>
            </div>
        </div>
    </div>
    <div class="form-flow-config">
        <div id="flowConfigTab" class="config-tab">
            <div class="tab-item node-tab" data-type="node">节点属性</div>
            <div class="tab-item flow-tab" data-type="flow">流程属性</div>
        </div>
        <div id="flowNodeSettingContent" class="config-content empty x-ui-hidden">

        </div>
        <div id="flowSettingContent" class="config-content x-ui-hidden">

        </div>
    </div>
</div>