<div class="row mln mrn" style="width:750px;height:100%; overflow-y:auto;">
    <div class="col-md-12 pln prn">
        <div class="panel panel-primary panel-border top">
            <div class="panel-heading">
                <span class="panel-title">条件</span></div>
            <div class="panel-body pln prn"
                 id="condition_panel"></div>
        </div>
    </div>
    <div class="col-md-12 pln prn">
        <div class="panel panel-info panel-border top">
            <div class="panel-heading">
                <span class="panel-title">审批人</span></div>
            <div class="panel-body pln prn" id="approver_panel">
            </div>
        </div>
    </div>
</div>