<div class="row mrn mln pl10 cc" id="cc">
    <div class="clo-md-12">
        <div class="bs-component mh-40 h-40">
            <div class="checkbox-custom">
                <input type="checkbox" name="type" value="1" id="type_1">
                <label for="type_1">指定人员</label>
                <input class="form-control w200 lh40 h-40  ipt-cc-value" readonly
                       style="display: none" placeholder="点击选择人员">
            </div>
        </div>

        <input type="hidden" id="ipt-cc-select-value" value="[]">

    </div>
    <div class="clo-md-12 pt5">

        <div class="bs-component ">
            <div class="checkbox-custom">
                <input type="checkbox" name="type" value="2" id="type_2">
                <label for="type_2">申请人直接上级</label>
                <input type="checkbox" name="type" value="3" id="type_3">
                <label for="type_3">审批人直接上级</label>
            </div>
        </div>
    </div>
</div>