
.g-row:after {
    width: 100%;
    display: table;
    content: " ";
    clear: both;
}


.g-col-1, .g-col-2, .g-col-3, .g-col-4, .g-col-5, .g-col-6, .g-col-7, .g-col-8, .g-col-9, .g-col-10, .g-col-11, .g-col-12 {
    float: left;
    position: relative;
    min-height: 1px;
}

.g-col-12 {
    width: 100%;
}

.g-col-11 {
    width: 91.66666667%;
}

.g-col-10 {
    width: 83.33333333%;
}

.g-col-9 {
    width: 75%;
}

.g-col-8 {
    width: 66.66666667%;
}

.g-col-7 {
    width: 58.33333333%;
}

.g-col-6 {
    width: 50%;
}

.g-col-5 {
    width: 41.66666667%;
}

.g-col-4 {
    width: 33.33333333%;
}

.g-col-3 {
    width: 25%;
}

.g-col-2 {
    width: 16.66666667%;
}

.g-col-1 {
    width: 8.33333333%;
}

.g-col-pull-12 {
    right: 100%;
}

.g-col-pull-11 {
    right: 91.66666667%;
}

.g-col-pull-10 {
    right: 83.33333333%;
}

.g-col-pull-9 {
    right: 75%;
}

.g-col-pull-8 {
    right: 66.66666667%;
}

.g-col-pull-7 {
    right: 58.33333333%;
}

.g-col-pull-6 {
    right: 50%;
}

.g-col-pull-5 {
    right: 41.66666667%;
}

.g-col-pull-4 {
    right: 33.33333333%;
}

.g-col-pull-3 {
    right: 25%;
}

.g-col-pull-2 {
    right: 16.66666667%;
}

.g-col-pull-1 {
    right: 8.33333333%;
}

.g-col-pull-0 {
    right: auto;
}

.g-col-push-12 {
    left: 100%;
}

.g-col-push-11 {
    left: 91.66666667%;
}

.g-col-push-10 {
    left: 83.33333333%;
}

.g-col-push-9 {
    left: 75%;
}

.g-col-push-8 {
    left: 66.66666667%;
}

.g-col-push-7 {
    left: 58.33333333%;
}

.g-col-push-6 {
    left: 50%;
}

.g-col-push-5 {
    left: 41.66666667%;
}

.g-col-push-4 {
    left: 33.33333333%;
}

.g-col-push-3 {
    left: 25%;
}

.g-col-push-2 {
    left: 16.66666667%;
}

.g-col-push-1 {
    left: 8.33333333%;
}

.g-col-push-0 {
    left: auto;
}

.g-col-offset-12 {
    margin-left: 100%;
}

.g-col-offset-11 {
    margin-left: 91.66666667%;
}

.g-col-offset-10 {
    margin-left: 83.33333333%;
}

.g-col-offset-9 {
    margin-left: 75%;
}

.g-col-offset-8 {
    margin-left: 66.66666667%;
}

.g-col-offset-7 {
    margin-left: 58.33333333%;
}

.g-col-offset-6 {
    margin-left: 50%;
}

.g-col-offset-5 {
    margin-left: 41.66666667%;
}

.g-col-offset-4 {
    margin-left: 33.33333333%;
}

.g-col-offset-3 {
    margin-left: 25%;
}

.g-col-offset-2 {
    margin-left: 16.66666667%;
}

.g-col-offset-1 {
    margin-left: 8.33333333%;
}

.g-col-offset-0 {
    margin-left: 0;
}


.g-row.g-row-padding {
    margin-left: -8px;
    margin-right: -8px;
}

.g-row.g-row-padding .g-col-1,
.g-row.g-row-padding .g-col-2,
.g-row.g-row-padding .g-col-3,
.g-row.g-row-padding .g-col-4,
.g-row.g-row-padding .g-col-5,
.g-row.g-row-padding .g-col-6,
.g-row.g-row-padding .g-col-7,
.g-row.g-row-padding .g-col-8,
.g-row.g-row-padding .g-col-9,
.g-row.g-row-padding .g-col-10,
.g-row.g-row-padding .g-col-11,
.g-row.g-row-padding .g-col-12 {
    padding-left: 8px;
    padding-right: 8px;
}