<div class="content-box">
    <section class="g-contanier">
        <div class="ui-panels">
            <div class="ui-panel">
                <h3 class="ui-panel-title approval-form-title ext-brB m-b"></h3>
                <div class="approval-form-wrapper" id="formWrapper"></div>
                <div class="approval-form-wrapper" id="iframeWrapper"></div>
                <div class="approval-form-opinion">
                    <h3 class="approval-title">审批路径</h3>
                    <div class="approval-content">
                    </div>
                </div>
                <div class="approval-form-action-toolbar"></div>
            </div>
        </div>
    </section>
</div>
