<div class="content-box">
  <section class="g-contanier">
    <div class="ui-panels">
    	<div class="ui-panel" id="approval-launch-body">
    		<h3 class="ui-panel-title ext-brB">发起审批</h3>
    	</div>
    </div>
  </section>
</div>